In [26]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
 
#正常显示画图时出现的中文和负号
from pylab import mpl
mpl.rcParams['font.sans-serif']=['SimHei']
mpl.rcParams['axes.unicode_minus']=False
 
#引入TA-Lib库
import talib as ta
import time
from datetime import datetime, timedelta
# import tushare as ts
# df=ts.get_k_data('sh',start='2000-01-01')
# df.index=pd.to_datetime(df.date)
# df=df.sort_index()
# df['ret']=df.close/df.close.shift(1)-1
# df.head()
import akshare as ak

df = ak.stock_zh_a_hist(symbol="000001", adjust="hfq").iloc[:, :6]
    # 处理字段命名，以符合 Backtrader 的要求
df.columns = [
    'date',
    'open',
    'close',
    'high',
    'low',
    'volume',
    ]
df.index=pd.to_datetime(df.date)
df=df.sort_index()

In [27]:
df['ret']=df.close/df.close.shift(1)-1
df['fast_sma'] = ta.SMA(df['close'],timeperiod=5)
df['slow_sma'] = ta.SMA(df['close'],timeperiod=20)
df.dropna()
df = df.loc['2024-01-01':'2024-05-20']

In [28]:
df['pos']=0
df['pos'][df['fast_sma']>df['slow_sma']] = 1
df['pos'][df['fast_sma']<=df['slow_sma']] = 0 
df['pos'] = df['pos'].shift(1).fillna(0)
df['pos'].fillna(method='ffill',inplace=True)

/var/folders/vx/c4klfm7j3xb7tpn1qpyjg7300000gn/T/com.apple.shortcuts.mac-helper/ipykernel_76933/2467329736.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['pos'][df['fast_sma']>df['slow_sma']] = 1
/var/folders/vx/c4klfm7j3xb7tpn1qpyjg7300000gn/T/com.apple.shortcuts.mac-helper/ipykernel_76933/2467329736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pos'][df['fast_sma']>df['slow_sma']] = 1
/var/folders/vx/c4klfm7j3xb7tpn1qpyjg7300000gn/T/com.apple.shortcuts.mac-helper/ipykernel_76933/2467329736.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['pos'][df['fast_sma']<=df['slow_sma']] = 0
/var/folders/vx/c4klfm7j3xb7tpn1qpyjg7300000gn/T/com.apple.shortcuts.mac-helper/ipykernel_76933/2467329736.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['pos'][df['fast_sma']<=df['slow_sma']] = 0
/var/folders/vx/c4klfm7j3xb7tpn1qpyjg7300000gn/T/com.apple.shortcuts.mac-helper/ipykernel_76933/2467329736.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['pos'].fillna(method='ffill',inplace=True)
/var/folders/vx/c4klfm7j3xb7tpn1qpyjg7300000gn/T/com.apple.shortcuts.mac-helper/ipykernel_76933/2467329736.py:5: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['pos'].fillna(method='ffill',inplace=True)

In [29]:
df.head()

,date,open,close,high,low,volume,ret,fast_sma,slow_sma,pos
date,,,,,,,,,,
2020-01-02,2020-01-02,2810.25,2846.00,2859.00,2793.99,1530232,0.024574,2801.792,2731.4995,0.0
2020-01-03,2020-01-03,2857.38,2896.38,2917.51,2854.13,1116195,0.017702,2824.870,2745.7205,1.0
2020-01-06,2020-01-06,2868.75,2878.51,2922.39,2852.50,862084,-0.006170,2839.174,2757.6665,1.0
2020-01-07,2020-01-07,2888.26,2891.51,2912.64,2859.00,728608,0.004516,2858.028,2771.8065,1.0
2020-01-08,2020-01-08,2867.13,2811.87,2875.26,2806.99,847824,-0.027543,2864.854,2782.6145,1.0

In [31]:
df['equity']=(df['ret']*df['pos']+1).cumprod()

In [33]:
# 如果每次只买一手
df['diff']=df.close-df.close.shift(1)
df['equity_1'] = (df['diff']*df['pos']).cumsum() 
df.enew

date
2020-01-02        NaN
2020-01-03      50.38
2020-01-06      32.51
2020-01-07      45.51
2020-01-08     -34.13
               ...
2024-05-14   -1397.76
2024-05-15   -1410.76
2024-05-16   -1355.50
2024-05-17   -1314.87
2024-05-20   -1321.37
Name: equity_1, Length: 1059, dtype: float64

In [44]:
df.loc['2024-03':'2024-04-22']

,date,open,close,high,low,volume,ret,fast_sma,slow_sma,pos,equity,diff,equity_1
date,,,,,,,,,,,,,
2024-03-01,2024-03-01,1973.39,1957.14,1975.02,1947.39,1828103,-0.008235,1962.014,1878.1490,1.0,0.645199,-16.25,-1327.87
2024-03-04,2024-03-04,1950.64,1931.13,1958.76,1929.51,1655930,-0.013290,1955.512,1883.9185,1.0,0.636624,-26.01,-1353.88
2024-03-05,2024-03-05,1926.26,1947.39,1953.89,1919.76,1817319,0.008420,1953.238,1889.8510,1.0,0.641984,16.26,-1337.62
2024-03-06,2024-03-06,1942.51,1931.13,1950.64,1931.13,1345640,-0.008350,1948.036,1896.5955,1.0,0.636624,-16.26,-1353.88
2024-03-07,2024-03-07,1931.13,1939.26,1981.52,1931.13,2016166,0.004210,1941.210,1904.0720,1.0,0.639304,8.13,-1345.75
2024-03-08,2024-03-08,1934.38,1939.26,1949.01,1926.26,1113974,0.000000,1937.634,1911.9545,1.0,0.639304,0.00,-1345.75
2024-03-11,2024-03-11,1939.26,1953.89,1953.89,1932.76,1210673,0.007544,1942.186,1921.7065,1.0,0.644127,14.63,-1331.12
2024-03-12,2024-03-12,1955.51,1968.52,1973.39,1944.14,1641262,0.007488,1946.412,1931.2960,1.0,0.648950,14.63,-1316.49
2024-03-13,2024-03-13,1963.64,1931.13,1966.89,1926.26,1768039,-0.018994,1946.412,1936.5780,1.0,0.636624,-37.39,-1353.88
2024-03-14,2024-03-14,1926.26,1914.88,1939.26,1910.01,1409400,-0.008415,1941.536,1941.6165,1.0,0.631267,-16.25,-1370.13
2024-03-15,2024-03-15,1966.89,1975.02,1999.40,1958.76,3750208,0.031407,1948.688,1949.1740,0.0,0.631267,60.14,-1370.13
2024-03-18,2024-03-18,1968.52,1965.26,1976.64,1957.14,1671397,-0.004942,1950.962,1955.1060,0.0,0.631267,-9.76,-1370.13
2024-03-19,2024-03-19,1963.64,1942.51,1965.26,1940.89,1293216,-0.011576,1945.760,1959.8195,0.0,0.631267,-22.75,-1370.13
2024-03-20,2024-03-20,1939.26,1950.64,1953.89,1937.63,872663,0.004185,1949.662,1956.9755,0.0,0.631267,8.13,-1370.13
2024-03-21,2024-03-21,1950.64,1953.89,1962.01,1945.76,864466,0.001666,1957.464,1953.4815,0.0,0.631267,3.25,-1370.13
2024-03-22,2024-03-22,1950.64,1936.01,1950.64,1927.88,1028142,-0.009151,1949.662,1949.4995,1.0,0.625490,-17.88,-1388.01
2024-03-25,2024-03-25,1934.38,1942.51,1957.14,1929.51,953202,0.003357,1945.112,1948.4430,1.0,0.627590,6.50,-1381.51
2024-03-26,2024-03-26,1950.64,1975.02,1984.77,1945.76,1740021,0.016736,1951.614,1949.2560,0.0,0.627590,32.51,-1381.51
2024-03-27,2024-03-27,1968.52,1963.64,1979.89,1960.39,1274136,-0.005762,1954.214,1949.5810,1.0,0.623974,-11.38,-1392.89
2024-03-28,2024-03-28,1960.39,1957.14,1970.14,1939.26,1302189,-0.003310,1954.864,1948.7685,1.0,0.621909,-6.50,-1399.39
2024-03-29,2024-03-29,1950.64,1962.01,1970.14,1947.39,872759,0.002488,1960.064,1949.0120,1.0,0.623456,4.87,-1394.52
2024-04-01,2024-04-01,1962.01,1981.52,1983.14,1960.39,1191088,0.009944,1967.866,1951.5315,1.0,0.629656,19.51,-1375.01
2024-04-02,2024-04-02,1979.89,1966.89,1988.02,1963.64,1085458,-0.007383,1966.240,1952.5065,1.0,0.625007,-14.63,-1389.64
2024-04-03,2024-04-03,1963.64,1952.26,1966.89,1945.76,981846,-0.007438,1963.964,1953.5630,1.0,0.620358,-14.63,-1404.27
2024-04-08,2024-04-08,1945.76,1947.39,1957.14,1937.63,906361,-0.002495,1962.014,1953.9695,1.0,0.618811,-4.87,-1409.14
2024-04-09,2024-04-09,1947.39,1942.51,1953.89,1936.01,857157,-0.002506,1958.114,1954.1320,1.0,0.617260,-4.88,-1414.02
2024-04-10,2024-04-10,1939.26,1923.01,1944.14,1921.38,1246391,-0.010039,1946.412,1952.5880,1.0,0.611063,-19.50,-1433.52
2024-04-11,2024-04-11,1916.51,1918.13,1924.63,1897.00,1010213,-0.002538,1936.660,1950.0685,0.0,0.611063,-4.88,-1433.52
2024-04-12,2024-04-12,1913.26,1887.25,1921.38,1884.00,1305454,-0.016099,1923.658,1947.8745,0.0,0.611063,-30.88,-1433.52
2024-04-15,2024-04-15,1888.88,1924.63,1929.51,1887.25,1453203,0.019807,1919.106,1948.3620,0.0,0.611063,37.38,-1433.52
2024-04-16,2024-04-16,1923.01,1923.01,1940.89,1913.26,1478036,-0.000842,1915.206,1945.7615,0.0,0.611063,-1.62,-1433.52
2024-04-17,2024-04-17,1919.76,1978.27,1979.89,1911.63,2232641,0.028736,1926.258,1946.4120,0.0,0.611063,55.26,-1433.52
2024-04-18,2024-04-18,1971.77,2007.52,2044.90,1968.52,3165914,0.014786,1944.136,1949.6625,0.0,0.611063,29.25,-1433.52
2024-04-19,2024-04-19,1992.89,1989.64,2010.77,1984.77,1457675,-0.008907,1964.614,1951.6125,0.0,0.611063,-17.88,-1433.52
2024-04-22,2024-04-22,1981.52,1958.76,2009.15,1950.64,2009818,-0.015520,1971.440,1951.8560,1.0,0.601579,-30.88,-1464.40

In [51]:
-1950.64+1942.51

-8.13000000000011

In [34]:
-2716.6/2

-1358.3

In [53]:
-1953.89+1942.51-1975.02+1923.01-1989.64+2108.29

55.25999999999976

In [54]:
-1968.52+1916.51

-52.00999999999999