In [34]:
import pandas as pd
from pandas import Series, DataFrame
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://dbreport:dbreport@10.20.159.233:33061/dbreport')

In [38]:
df2 = pd.read_sql('select * from bb_tfundinfo limit 10', con=engine)

In [ ]:
json = df2.to_json(orient='records')

In [45]:
df2.head()

,company_id,fund_id,fund_code,fund_name,fund_caption,fund_type,fund_status,fund_trustee_id,ta_type,management_fee_ratio,...,modify_date,trust_account_id,seat_group_id,seat_group_id_list,object_code,fa_value_model_id,tax_type,fund_cust_id,net_price_precision_dealmode,fund_invest_property
0,9999,1,02010101,产品02010101,02权益子系统01股票01新股申购01直连新增产品单元A组合A1,2,1,None,1,0.0,...,20220603,None,0,,None,None,2,1,1,None

In [ ]:
df2.plot

In [67]:
import seaborn as sns

In [87]:
df3=sns.load_dataset('car_crashes')
df3.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
std,4.122002,2.017747,1.729133,4.508977,3.764672,178.296285,24.835922
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
25%,12.750000,3.766500,3.894000,10.478000,11.348000,768.430000,114.645000
50%,15.600000,4.608000,4.554000,13.857000,13.775000,858.970000,136.050000
75%,18.500000,6.439000,5.604000,16.140000,16.755000,1007.945000,151.870000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000

In [89]:
df3.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
std,4.122002,2.017747,1.729133,4.508977,3.764672,178.296285,24.835922
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
25%,12.750000,3.766500,3.894000,10.478000,11.348000,768.430000,114.645000
50%,15.600000,4.608000,4.554000,13.857000,13.775000,858.970000,136.050000
75%,18.500000,6.439000,5.604000,16.140000,16.755000,1007.945000,151.870000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000

文件夹 PATH 列表
卷序列号为 D2F3-64DF
D:.
└─.ipynb_checkpoints